<template>
    <div class="text-center">
        <router-link to="/login" class="btn btn-primary m-1">Login</router-link>
        <router-link to="/register" class="btn btn-primary m-1">Register</router-link>
        <router-link to="/post" class="btn btn-primary m-1">Post</router-link>
    </div>
</template>
