<template>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            New Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="" type="text" class="form-control my-2" placeholder="title" v-model="post.title">
                        <span v-if="errors.title"> {{errors.title[0]}}</span>
                        <textarea name="" class="form-control my-2" placeholder="body" v-model="post.body"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-small" @click="createPost">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                post:{
                    id: '',
                    title: '',
                    body: '',
                },
                errors:{

                }
            }
        },methods:{
            createPost(){
                axios.post('api/create-post', this.post).then( response=>{
                    if (resonse.data.status == "error"){
                        this.errors = response.data.errors;
                    }
                })
            }
        }

    }
</script>
